@media screen and (max-width:767px) {
  .banner {
    width: 100px;
    object-fit: contain;
  }
  .explore-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .explore-text {
    flex: 1;
  }
  .explore button {
    white-space: nowrap;
    height: fit-content;
    margin-top: 0.5rem;
  }
  .training {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .double-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px
  }
  .udemy {
    width: 100%;
  }
  
  .dismiss {
    width: 100%;
  }
}