@media screen and (max-width:767px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    position: relative
  }
  .menu-outlined {
    display: block !important;
  }
  .navbar-logo {
    margin: 0 auto;
    position: absolute;
    left: 50%; /* Đặt phần tử ở giữa */
    transform: translateX(-50%);
  }
  .navbar-logo img {
    height: 30px !important;
   }
  .navbar-search {
    display: none !important;
  }
  .navbar-user {
    display: none;
  }
  .navbar-menu .navbar-link {
    display: none;
  }
  .icon-search-mobile {
    display: block !important;
  }
  .mobile-search {
    border-radius: 999px;
    padding-right: 36px;
    width: 300px;
    height: 40px;
    line-height: 2px;
    display: none;
    position: absolute;
    top: 70px;
    left: -600px;
    z-index: 999;
  }
}
